/* ------------------------ *\
	Margins
\* ------------------------ */

.m-0 {
	margin: 0px;
}

.m-2 {
	margin: 2px;
}

.m-4 {
	margin: 4px;
}

.m-8 {
	margin: 8px;
}

.m-16 {
	margin: 16px;
}

.m-32 {
	margin: 32px;
}

.m-64 {
	margin: 64px;
}

.m-128 {
	margin: 128px;
}

.mt-0 {
	margin-top: 0px;
}

.mt-2 {
	margin-top: 2px;
}

.mt-4 {
	margin-top: 4px;
}

.mt-8 {
	margin-top: 8px;
}

.mt-16 {
	margin-top: 16px;
}

.mt-32 {
	margin-top: 32px;
}

.mt-64 {
	margin-top: 64px;
}

.mt-128 {
	margin-top: 128px;
}

.mb-0 {
	margin-bottom: 0px;
}

.mb-2 {
	margin-bottom: 2px;
}

.mb-4 {
	margin-bottom: 4px;
}

.mb-8 {
	margin-bottom: 8px;
}

.mb-16 {
	margin-bottom: 16px;
}

.mb-32 {
	margin-bottom: 32px;
}

.mb-64 {
	margin-bottom: 64px;
}

.mb-128 {
	margin-bottom: 128px;
}

@media only screen and (max-width: 575px) {
	.m-0-mobile {
		margin: 0px;
	}

	.m-2-mobile {
		margin: 2px;
	}

	.m-4-mobile {
		margin: 4px;
	}

	.m-8-mobile {
		margin: 8px;
	}

	.m-16-mobile {
		margin: 16px;
	}

	.m-32-mobile {
		margin: 32px;
	}

	.m-64-mobile {
		margin: 64px;
	}

	.m-128-mobile {
		margin: 128px;
	}

	.mt-0-mobile {
		margin-top: 0px;
	}

	.mt-2-mobile {
		margin-top: 2px;
	}

	.mt-4-mobile {
		margin-top: 4px;
	}

	.mt-8-mobile {
		margin-top: 8px;
	}

	.mt-16-mobile {
		margin-top: 16px;
	}

	.mt-32-mobile {
		margin-top: 32px;
	}

	.mt-64-mobile {
		margin-top: 64px;
	}

	.mt-128-mobile {
		margin-top: 128px;
	}

	.mb-0-mobile {
		margin-bottom: 0px;
	}

	.mb-2-mobile {
		margin-bottom: 2px;
	}

	.mb-4-mobile {
		margin-bottom: 4px;
	}

	.mb-8-mobile {
		margin-bottom: 8px;
	}

	.mb-16-mobile {
		margin-bottom: 16px;
	}

	.mb-32-mobile {
		margin-bottom: 32px;
	}

	.mb-64-mobile {
		margin-bottom: 64px;
	}

	.mb-128-mobile {
		margin-bottom: 128px;
	}
}

@media only screen and (min-width: 768px) {
	.m-0-desktop {
		margin: 0px;
	}

	.m-2-desktop {
		margin: 2px;
	}

	.m-4-desktop {
		margin: 4px;
	}

	.m-8-desktop {
		margin: 8px;
	}

	.m-16-desktop {
		margin: 16px;
	}

	.m-32-desktop {
		margin: 32px;
	}

	.m-64-desktop {
		margin: 64px;
	}

	.m-128-desktop {
		margin: 128px;
	}

	.mt-0-desktop {
		margin-top: 0px;
	}

	.mt-2-desktop {
		margin-top: 2px;
	}

	.mt-4-desktop {
		margin-top: 4px;
	}

	.mt-8-desktop {
		margin-top: 8px;
	}

	.mt-16-desktop {
		margin-top: 16px;
	}

	.mt-32-desktop {
		margin-top: 32px;
	}

	.mt-64-desktop {
		margin-top: 64px;
	}

	.mt-128-desktop {
		margin-top: 128px;
	}

	.mb-0-desktop {
		margin-bottom: 0px;
	}

	.mb-2-desktop {
		margin-bottom: 2px;
	}

	.mb-4-desktop {
		margin-bottom: 4px;
	}

	.mb-8-desktop {
		margin-bottom: 8px;
	}

	.mb-16-desktop {
		margin-bottom: 16px;
	}

	.mb-32-desktop {
		margin-bottom: 32px;
	}

	.mb-64-desktop {
		margin-bottom: 64px;
	}

	.mb-128-desktop {
		margin-bottom: 128px;
	}
}

/* ------------------------ *\
	Padding
\* ------------------------ */

.p-0 {
	padding: 0px;
}

.p-2 {
	padding: 2px;
}

.p-4 {
	padding: 4px;
}

.p-8 {
	padding: 8px;
}

.p-16 {
	padding: 16px;
}

.p-32 {
	padding: 32px;
}

.p-64 {
	padding: 64px;
}

.p-128 {
	padding: 128px;
}

.pt-0 {
	padding-top: 0px;
}

.pt-2 {
	padding-top: 2px;
}

.pt-4 {
	padding-top: 4px;
}

.pt-8 {
	padding-top: 8px;
}

.pt-16 {
	padding-top: 16px;
}

.pt-32 {
	padding-top: 32px;
}

.pt-64 {
	padding-top: 64px;
}

.pt-128 {
	padding-top: 128px;
}

.pb-0 {
	padding-bottom: 0px;
}

.pb-2 {
	padding-bottom: 2px;
}

.pb-4 {
	padding-bottom: 4px;
}

.pb-8 {
	padding-bottom: 8px;
}

.pb-16 {
	padding-bottom: 16px;
}

.pb-32 {
	padding-bottom: 32px;
}

.pb-64 {
	padding-bottom: 64px;
}

.pb-128 {
	padding-bottom: 128px;
}

@media only screen and (max-width: 575px) {
	.p-0-mobile {
		padding: 0px;
	}

	.p-2-mobile {
		padding: 2px;
	}

	.p-4-mobile {
		padding: 4px;
	}

	.p-8-mobile {
		padding: 8px;
	}

	.p-16-mobile {
		padding: 16px;
	}

	.p-32-mobile {
		padding: 32px;
	}

	.p-64-mobile {
		padding: 64px;
	}

	.p-128-mobile {
		padding: 128px;
	}

	.pt-0-mobile {
		padding-top: 0px;
	}

	.pt-2-mobile {
		padding-top: 2px;
	}

	.pt-4-mobile {
		padding-top: 4px;
	}

	.pt-8-mobile {
		padding-top: 8px;
	}

	.pt-16-mobile {
		padding-top: 16px;
	}

	.pt-32-mobile {
		padding-top: 32px;
	}

	.pt-64-mobile {
		padding-top: 64px;
	}

	.pt-128-mobile {
		padding-top: 128px;
	}

	.pb-0-mobile {
		padding-bottom: 0px;
	}

	.pb-2-mobile {
		padding-bottom: 2px;
	}

	.pb-4-mobile {
		padding-bottom: 4px;
	}

	.pb-8-mobile {
		padding-bottom: 8px;
	}

	.pb-16-mobile {
		padding-bottom: 16px;
	}

	.pb-32-mobile {
		padding-bottom: 32px;
	}

	.pb-64-mobile {
		padding-bottom: 64px;
	}

	.pb-128-mobile {
		padding-bottom: 128px;
	}
}

/* ------------------------ *\
	Colors
\* ------------------------ */

.red {
	color: red;
}

.black {
	color: black;
}

.white {
	color: white;
}

.blue {
	color: blue;
}

.green {
	color: green;
}

/* ------------------------ *\
	Shaping
\* ------------------------ */

.full-width {
	display: block;
	width: 100% !important;
}

/* ------------------------ *\
	Positioning
\* ------------------------ */

.center-content {
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
}

.centered {
	display: block;
	width: fit-content;
	margin-right: auto;
	margin-left: auto;
}

.left-button {
	display: block;
	width: fit-content;
	margin-right: auto;
	margin-left: 0px;
}

.right-button {
	display: block;
	width: fit-content;
	margin-right: 0px;
	margin-left: auto;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

@media only screen and (max-width: 575px) {
	.mobile-center-button {
		display: block;
		width: fit-content;
		margin-right: auto;
		margin-left: auto;
	}

	.mobile-left-button {
		display: block;
		width: fit-content;
		margin-right: auto;
		margin-left: 0px;
	}

	.mobile-right-button {
		display: block;
		width: fit-content;
		margin-right: 0px;
		margin-left: auto;
	}	

	.mobile-text-center {
		text-align: center !important;
	}

	.mobile-text-left {
		text-align: left;
	}

	.mobile-text-right {
		text-align: right;
	}
}

/* -------------------------- *\
	Text
\* -------------------------- */

.ultra-light-font {
	font-weight: 100;
}

.light-font {
	font-weight: 300;
}

.regular-font {
	font-weight: 400;
}

.heavy-font {
	font-weight: 700;
}

.ultra-heavy-font {
	font-weight: 900;
}


/* ------------------------ *\
	Width
\* ------------------------ */

.full-width-button {
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* -------------------------- *\
	Custom Images
\* -------------------------- */

.image-height-32 {
	height: 32px;
	width: auto;
}

.image-height-64 {
	height: 64px;
	width: auto;
}

.image-height-128 {
	height: 128px;
	width: auto;
}

.image-height-196 {
	height: 196px;
	width: auto;
}

.image-height-256 {
	height: 256px;
	width: auto;
}

.regular-image-100 {
	width: 100%;
	height: auto;
}

.regular-image-90 {
	width: 90%;
	height: auto;
}

.regular-image-80 {
	width: 80%;
	height: auto;
}

.regular-image-70 {
	width: 70%;
	height: auto;
}

.regular-image-60 {
	width: 60%;
	height: auto;
}

.regular-image-50 {
	width: 50%;
	height: auto;
}

.regular-image-40 {
	width: 40%;
	height: auto;
}

.regular-image-30 {
	width: 30%;
	height: auto;
}

.regular-image-20 {
	width: 20%;
	height: auto;
}

.regular-image-10 {
	width: 10%;
	height: auto;
}

@media only screen and (max-width: 575px) {
	.regular-image-100-mobile {
		width: 100%;
		height: auto;
	}

	.regular-image-90-mobile {
		width: 90%;
		height: auto;
	}

	.regular-image-80-mobile {
		width: 80%;
		height: auto;
	}

	.regular-image-70-mobile {
		width: 70%;
		height: auto;
	}

	.regular-image-60-mobile {
		width: 60%;
		height: auto;
	}

	.regular-image-50-mobile {
		width: 50%;
		height: auto;
	}

	.regular-image-40-mobile {
		width: 40%;
		height: auto;
	}

	.regular-image-30-mobile {
		width: 30%;
		height: auto;
	}

	.regular-image-20-mobile {
		width: 20%;
		height: auto;
	}

	.regular-image-10-mobile {
		width: 10%;
		height: auto;
	}
}

/* -------------------------- *\
	Custom Video
\* -------------------------- */

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* -------------------------- *\
	Shadow
\* -------------------------- */

.light-text-shadow {
	text-shadow: 0px 1px 5px rgba(0,0,0,0.75);
}

.light-shadow {
	-webkit-box-shadow: 0px 5px 8px -2px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 5px 8px -2px rgba(0,0,0,0.35);
	box-shadow: 0px 5px 8px -2px rgba(0,0,0,0.35);
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 20px;
	margin-right: 0.75em;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: -4px;
	bottom: -2px;
	background-color: white;
	-webkit-transition: .25s;
	transition: .25s;
	-webkit-box-shadow: 0px 5px 8px -2px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 5px 8px -2px rgba(0,0,0,0.35);
	box-shadow: 0px 5px 8px -2px rgba(0,0,0,0.35);
}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(42px);
	-ms-transform: translateX(42px);
	transform: translateX(42px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 10px;
}

.slider.round:before {
	border-radius: 50%;
}